$color1: #426FC5;
$color2: #00897b;
$color3: #f6774f;
$color4: #e94043;

.btn {
  border: none;
  color: white;
  overflow: hidden;
  margin: 1rem;
  padding: 10px 20px;
  
  &.color-1 {
    background-color: $color1;
  }
  
  &.color-2 {
    background-color: $color2;
  }
  
  &.color-3 {
    background-color: $color3;
  }
  
  &.color-4 {
    background-color: $color4;
  }
}

.btn-border {
  &.color-1 {
    background-color: transparent;
    border: 2px solid $color1;
    color: $color1;
  }
  
  &.color-2 {
    background-color: transparent;
    border: 2px solid $color2;
    color: $color2;
  }
  
  &.color-3 {
    background-color: transparent;
    border: 2px solid $color3;
    color: $color3;
  }
  
  &.color-4 {
    background-color: transparent;
    border: 2px solid $color4;
    color: $color4;
  }
}

.btn-round {
  border-radius: 10em;
}
