.ui-dropdown {
    &-list {
        position: absolute;
        left: 0;
        top: 5em;
        transition: all 0.2s cubic-bezier(0.680, 0, 0.265, 1);
        transform: scale(0);
        transform-origin: 0 0;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
        background: #fff;
        padding: 0;margin: 0;
        transition-timing-function: cubic-bezier(0.680, 0, 0.265, 1);
        
    }
    
    &-list-item {
        display: block;
        width: 100%;
        opacity: 0;
        transform: translate(-20px, 0px);
        padding: 0;
        margin: 0;
        > a {
            padding: 10px;
            display: block;
            text-decoration: none;
            &:hover {
                text-decoration: none;
                background: #f1f1f1;
                cursor: pointer;
            }
        }
    }

    &-list.open {
        transform: scale(1);
    }

    &-list.open &-list-item {
        display: block;
        transition: all .4s;
        opacity: 1;
        transform: translate(0px, 0);
    }
}
